<div class="g-mt-50 text-center">
  <h1 class="product-name"><strong>주문하기</strong></h1>
  <p>주문 내용을 정확히 확인해 주세요</p>
</div>
<div class="g-mt-100">
  <h3>배송상품 정보</h3>
</div>
<div class="border-tb g-mt-30">
  <div class="row g-mt-10 g-mb-10">
    <div class="col-md-9">
      <div class="col-md-5">
        <img class="img-responsive" src='<%= asset_path "pork1.jpg" %>' alt="">
      </div>
      <div class="col-md-7" style="padding-top:50px;">
        <h3>[부천농협직판장]: 돼지고기 목살세트</h3>
        <p>content content contetn</p>
      </div>
    </div>
    <div class="col-md-3 text-center" style="padding-top:50px;">
      <h3>89,000원</h3>
    </div>
  </div>
</div>
<div class="col-md-offset-9 col-md-3">
  <h3>총 금액: 89,000원</h3>
</div>
