.g-mb-5 { margin-bottom: 5px; }
.g-mb-10 { margin-bottom: 10px; }
.g-mb-20 { margin-bottom: 20px; }
.g-mb-30 { margin-bottom: 30px; }
.g-mb-40 { margin-bottom: 40px; }
.g-mb-50 { margin-bottom: 50px; }
.g-mb-100 { margin-bottom: 100px; }

.g-mt-5 { margin-top: 5px; }
.g-mt-10 { margin-top: 10px; }
.g-mt-20 { margin-top: 20px; }
.g-mt-30 { margin-top: 30px; }
.g-mt-40 { margin-top: 40px; }
.g-mt-50 { margin-top: 50px; }
.g-mt-100 { margin-top: 100px; }

.g-mr-10 { margin-right: 10px; }
.g-ml-10 { margin-left: 10px; }

.product-name {
    color: rgb(95, 74, 11);;
}
.gogi-item {
    padding-top: 50px;
	margin-right: -1px;
	padding-bottom: 30px;
	
}
.item-information {
    border: 1px solid #bbb;
}
.item-information:hover {
    background-color: #f4f5f7;
    cursor: pointer;
}

.banner-img {
    max-width:100%;
}

.rgba-banner-position {
  position: relative;
}

.rgba-banner {
  top: 50px;
  color: #fff;
  font-size: 14px;
  padding: 3px 8px;
  font-weight: 600;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
}

.shop-rgba-orange {
  background: rgba(248, 191, 32, 0.8);
}
.btn-p-buy {
  margin-top: 5px;
	font-size: 25px;
	padding: 10px 25px;
	width: 100%;
	background: #5F4A0B;
}

.btn-p-buy:hover {
	background: rgba(95, 74, 11, 0.8);
}

.btn-devise {
	margin-top: 5px;
	font-size: 15px;
	padding: 10px 25px;
	width: 100%;
	background: #5F4A0B;
}

.btn-devise:hover {
	background: rgba(95, 74, 11, 0.8);
}

.product-service .product-service-heading {
	padding: 10px 0;
	text-align: center;
	background-color: rgb(242, 208, 73);
}

.product-service .product-service-heading i {
	color: #fff;
	font-size: 40px;
}

.product-service .product-service-in {
	padding: 15px 30px;
	text-align: center;
	border-left: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
}

.product-service .product-service-in h3 {
	color: #555;
	font-size: 20px;
	font-weight: 400;
	text-transform: uppercase;
}

.product-service .product-service-in a {
	color: #c9253c;
	font-size: 14px;
	font-weight: 400;
}
.border-box{
	border: 1px solid #bbb;
}

.item-text {
	color: #DD4621;
}
.information-img {
	height: 500px;
}
.detail-text {
	color: #5F4A0B;
}