<div id="footer-v2" class="footer-v2">
	<div class="footer">
		<div class="container">
			<div class="row">
				<p class="g-ml-10"><strong>고기나라</strong><br>
					경기도 부천시 소사구 경인로 41 (송내동) 2층<br>
					전화 : 032-612-5050 l 팩스 : 032-612-5051 l 개인정보관리책임자 : 박민재 l 메일 : pmj4065@naver.com<br>
					대표자 : 김지현 l 사업자 등록번호 안내 : [256-63-00025] l 통신판매업 신고 : 제 2015-경기부천-1021 호 l [사업자정보확인]
				</p>
			</div>
		</div>
	</div><!--/footer-->

	<div class="copyright">
		<div class="container">
			<p class="text-center">2015 &copy; All Rights Reserved. Theme by <a target="_blank" href="/">JC Lee</a></p>
		</div>
	</div><!--/copyright-->
</div>
<!--=== End Footer v2 ===-->
